# Node modules
node_modules
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
client/.env

# Logs
logs
*.log

client/dist/
server/dist/
coverage/ 
.env.local
.env.development.local
.env.test.local
.env.production.local

#server uploads
server/uploads/*
!server/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
dist/